extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jesus Mendoza

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hello! I'm Jesus. As you can see from the text above, I'm a JavaScript Developer.
            | I enjoy building and learning. The world is filled with limitless knowledge which we can use for good.
            | So, do want to see what I've worked on? Check out my github! Better yet, you can see my projects in detail by clicking the "back" button.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h3 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li APIs
          li HTTP Requests
          li AJAX
          li JSON
          li fetchAPI
          li NodeJS
          li Express
          li Pug
        br
        h3 Contact Info

        //- Add your own contact info
        ul
          li jesuszmendoza14@gmail.com
        br

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/jesus-mendoza-99b043169/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/jesusMdza' target='_blank') GitHub
  