extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Jesus Mendoza

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hello! I'm Jesus. As you can see from the text above, I'm a JavaScript Developer.
            | I enjoy building and learning. The world is filled with limitless knowledge which we can use for good.
            | So, do want to see what I've worked on? Check out my github! Better yet, you can see my projects in detail by clicking the "back" button.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h5 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li APIs
          li HTTP Requests
          li AJAX
          li JSON
          li fetchAPI
          li NodeJS
          li Express
          li Pug
        br
        h5 Contact Info

        ul
          li jesuszmendoza14@gmail.com
        br

        a.button.expanded(href='https://www.linkedin.com/in/jesus-mendoza-99b043169/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/jesusMdza' target='_blank') GitHub
  